/venv
./Notebook_Funcion_1_2.ipynb
./Notebook_Funcion_3.ipynb
./Notebook_Funcion_4.ipynb
./Notebook_Funcion_5.ipynb
./EDA_ML.ipynb
./ETL_SteamGame_User_Reviews.ipynb
./ETL_UserItems.ipynb
./ETL_UserReview.ipynb
./ML.ipynb
./README.md